*{
    padding: 0;
    margin: 0;
}


body{
    font-family: "Arial" ;
    margin: 0px;
    padding: 0px;
}

header{
    text-align: center;
    width: 100%;
    height: 500px;
    background-color: rgb(190, 190, 190);
}

nav{
    float: center;
    line-height: 100px;
}

.carousel-slide{
    /*float: center;*/
    line-height: 100px;
}

.carousel-inner{
    align-items: center;
    align-content:center;
    width: 850px;
    height: 500px;
    position: absolute;
    top: 0%;
    left: 17%;
}
.img{
    align-items: center;
    width:100px;
    height:55px;
}

.container-fluid{
    /*display: flex;*/
    background-color: rgb(221, 221, 221);
}

.home{
    /*display: flex;*/
    align-items: center;
    align-content:center;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 120%;
    left: 45%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.carousel {
    height:200px;
    
    }
    .carousel-inner > .item > img {
    
    height:360px;
    
    object-fit: contain;
    
    }

.carousel-control-prev{
    top: 120%;
}

.carousel-control-next{
    top: 120%;
}